.pokemon-solution-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 10px 30px;
    background-color: #181818ab;
    border: 4px solid #5e5e5eab;
    border-radius: 10px;
    margin-bottom: 40px;
}

.pokemon-solution-id {
    width: 150px;
    justify-content: left;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.pokemon-solution-picture-border-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 10000px;
}

.pokemon-solution-picture-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 10000px;
}

.pokemon-solution-picture {
    width: 50px;
    height: 50px;
}

.pokemon-solution-gen {
    width: 150px;
    justify-content: right;
    text-align: right;
    font-size: 18px;
    color: #777;
}

.pokemon-solution-name {
    font-size: 18px;
    font-weight: bold;
}

.pokemon-solution-row-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.pokemon-solution-abilities {
    text-align: right;
}

.pokemon-solution-types {
    justify-content: left;
    text-align: left;
}

.pokemon-solution-types, .pokemon-solution-abilities {
    width: 150px;
    display: flex;
    flex-direction: column;
}

.pokemon-solution-ability-item, .pokemon-solution-type-item {
    display: inline-block;
    font-size: 16px;
    color: #555;
}
